* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

section {
    margin-bottom:130px;
}

/* lets help style */
.lets-help {
    background-image: url("../images/pepole/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aliceblue;
    text-align: center;
    height: 600px;
    margin: 0;
}

.lets-title {
    font-weight: 700;
    font-size: 65px;
    color: #fffefe;
    padding: 100px 100px 100px 2px;
}

.lets-description {
    font-weight: 400;
    font-size: 18px;
    color: #fffefe;
    padding: 2px 100px 100px 100px;
}

.btn-primary {
    width: 150px;
    height: 50px;
    left: 696px;
    top: 3299px;
    border: 0px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
}

/* donate today style */
.donate-today {
    text-align: center;
}

.today-title {
    font-weight: 700;
    font-size: 45px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;

}

.today-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    padding: 0 50px;
}

.donate-amount {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.taka {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px #0000000f;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

.helight {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
    ;
}

.donate-footer {
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    margin-bottom: 20px;

}

/* Our Donate Plan style */
.our-donate-plan {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.plan-title {
    font-weight: 700;
    font-size: 45px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.plan-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    padding: 0 50px;
}

.mowlik-blog {
    display: flex;
    gap: 24px;
}

.mowlik-sub-blog {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    justify-content: center;
}

.bg-food {
    background: #c4ebf0
}

.bg-shelter {
    background: #c7c6c6;
}

.bg-frame {
    background: #53cdf2;
}

/* Their lives depend on your donation style */
/* .their-lives {} */

/* .their-lives-main {}*/


.their-lives-blog {
    display: flex;
    gap: 24px;
}
.lives-text-blog{
    padding: 100px 20px 50px 20px;
    
}

.lives-title {
    font-weight: 700;
    font-size: 45px;
    color: #181818;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lives-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
    padding: 0 50px;
}

.lives-img {
    
    border: none;
    padding: 100px 20px 0px 20px;
}

.lives-img img {
    width: 456px;
    height: 477px;
    left: 732px;
    top: 2078px;
    border-radius: 5px;
}
/* Get My Updates style */
.update-title{
    font-weight: 700;
    font-size: 45px;
    color: #181818;
    margin-bottom: 20px; 
}
.update-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    padding: 0 50px;   
}
.update-footer{
    background: #FFF4D6;
    margin-left: 300px;
    margin-right: 300px;
    border-top: 60px solid #FFF4D6;
    border-bottom: 60px solid #FFF4D6;
    border-radius: 5px;
}
#email{
    background: #B3B3B3;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    margin: 0px;
}
.subscribe-btn{
    background: #f40484;
    border: none;
    border-radius: 2px;
    padding: 10px;
    text-decoration: none;
    margin: 0px;
}
/* footer style */
.footer{
    background:black;
    background-size: cover;
}
.footer-title{
    font-weight: 700;
    font-size: 35px;
    color: #f80d0d;
    padding:50px 10px 30px ; 
    text-align: center;
    font-family: serif;

}
.footer-description{
    font-weight: 400;
    font-size: 15px;
    color: #faf8f8;
    padding: 10px 30px 30px 30px;  
    text-align: center;
}